.login {
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")
}

.titulo {
    margin-bottom: 35px;
    font-size: 78px;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.containerLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fichasLogin {
    width: 350px;

}


.input {
    width: 30%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    transition: 0.3s all;
    font-size: larger;
    margin-bottom: 10px;
    color: #000000;
    /* Color del texto */
    border: none;
    /* Elimina el borde */
    padding: 10px;
    /* Añade un espacio alrededor del texto */
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    /* Efecto de sombra de texto */

}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}



.submit {
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;

}

.apuestas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;

}

.chips {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chip {
    width: 80px;
    height: 80px;


}


.text {
    font-size: large;
    color: white;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ajusta el ancho del contenedor según sea necesario */
    height: 100%;
    /* Ajusta la altura del contenedor según sea necesario */
}

.contenedorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* Ajusta la altura del contenedor según sea necesario */
}


.resultado {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    /* Espaciado interno */
    border-radius: 5px;
    height: 25px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #000000;
}


.resultado.show {
    opacity: 1;

}

.dealer {
    width: 80px;
}

@keyframes moveChip {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -100px);
        /* Mueve la ficha hacia arriba */
        opacity: 0;
    }
}


@keyframes moveChipDown {
    0% {
        transform: translateY(0);
        opacity: 1;

    }

    100% {
        transform: translateY(300px);
        /* Ajusta la distancia de movimiento según sea necesario */
        opacity: 0;

    }
}

.animate-down {
    animation: moveChipDown 1.5s ease forwards;
}

@keyframes moveChipUp {
    0% {
        transform: translateY(0);
        opacity: 1;

    }

    100% {
        transform: translateY(-300px);
        /* Ajusta la distancia de movimiento según sea necesario */
        opacity: 0;

    }
}

.animate-up {
    animation: moveChipUp 1.5s ease forwards;
}

.buttonBet {
    min-width: 130px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
    font-size: large;
}

.buttonBet:hover {
    box-shadow: 0 3px #4433ff;
}


.buttonBet:active {
    box-shadow: 0 0 #4433ff;
    opacity: 0;
    /* Desaparece al hacer clic */
    transition: opacity 0.5s ease;
    /* Agrega una transición suave de la opacidad */
}

.noMobile {
    width: 220px
}
.contenedorBtnMobile{
    display: none;
}
.containerButtonAll{
    width: 180px;
     height: 80px
}
.chipsExtra{
    height: 104px;
    width: 180px;

}

@media only screen and (max-width: 600px) {
    .fichasLogin {
        display: none;
    }

    .titulo {
        text-align: center;

    }

    .prueba {
        flex-grow: 1;
    }

    .containerButton {
        flex-direction: column;
    }

    .carta {
        width: 33%;
        margin-right: 0;
    }

    .cartas {
        margin: 0;
    }

    .table {
        margin-left: 5px;
    }

    .resultado {
        padding: 5px 10px
    }

    .noMobile {
        width: 0px;
    }

    .chip {
        width: 70px;
        height: 70px;
    }

    .contenedorMobile {
        display: flex;
        height: 75px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contenedorBtn {
        display: none
    }

    .contenedorBtnMobile {
        display: flex;
        align-items: center;

    }
    .buttonBet{
        min-width: 60px;
    }
    .chips{
         justify-content:space-between ;
    }
    
}